.FromContainer {
    margin : 50px 330px !important;
    border : 2px dashed black !important;
    width:650px !important;
    overflow:true !important;
    padding: 30px !important;
}

.Form {
    padding: 50px 
}

.BoxName{
    width : 30%;
}