.FQuestionContainer {
    margin : 50px 330px !important;
}

h3 {
    margin-bottom: 12px ;
}

Button {
    display: block !important;
    margin-bottom: 8px !important;
    margin-left: 80px !important;
    width: 420px;
}